<!----------------------------------NAVBAR--------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Cell Towers Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Cell Tower <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchCellTowers(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search cell Towers..." required>
     </form>
      <button (click)="onclick()" type="button" class="btn btn-secondary tooltips" style="margin: 10px;">
         {{ChangeView?"View Chart":"Hide Chart"}}
      </button>
  </div>
</nav>


<!----------------------------------CHART--------------------------------------->
<div class="chartContainer" id="chartContainer" *ngIf="visible" style="width: 40%; margin-left:auto; margin-right: auto;" >
   <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels" [title]="chartTitle" [dataLabels]="chartDataLabels"></apx-chart>
</div>

<!----------------------------------TABLE--------------------------------------->
<div class="container table-responsive" id="main-container">
   <table class="table table-bordered table-hover table-condensed">
     <thead>
       <tr>
         <th>Count</th>
         <th>ID</th>
         <th>Technology</th>
         <th>Operator</th>
         <th>Height</th>
         <th>Type</th>
         <th>Latitude</th>
         <th>Longitude</th>
         <th>Address</th>
         <th>Options</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let cellTower of cellTowers">
         <td>{{ cellTower?.id }}</td>
         <td>{{ cellTower?.tower_id }}</td>
         <td>{{ cellTower?.technology }}</td>
         <td>{{ cellTower?.operator }}</td>
         <td>{{ cellTower?.height }}</td>
         <td>{{ cellTower?.tower_type }}</td>
         <td>{{ cellTower?.latitude }}</td>
         <td>{{ cellTower?.longitude }}</td>
         <td>{{ cellTower?.address }}</td>
         <td>
           <div class="btn-group btn-group-sm">
             <a (click)="onOpenModal(cellTower, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
             <a (click)="onOpenModal(cellTower, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
         </td>
       </tr>
     </tbody>
   </table>

<!----------------------Add CellTower Modal----------------------->
<div class="modal fade" id="addCellTowerModal" tabindex="-1" role="dialog" aria-labelledby="addCellTowerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addCellTowerModalLabel">Add Cell Tower</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddCellTower(addForm)">
          <div class="form-group">
             <label for="tower_id">tower_id</label>
             <input type="text" ngModel name="tower_id" class="form-control" id="tower_id" placeholder="tower_id" required>
          </div>
          <div class="form-group">
             <label for="technology">technology</label>
             <input type="technology" ngModel name="technology" class="form-control" id="technology" placeholder="technology" required>
          </div>
          <div class="form-group">
             <label for="operator">operator</label>
             <input type="text" ngModel name="operator" class="form-control" id="operator" placeholder="operator" required>
          </div>
          <div class="form-group">
             <label for="address">address</label>
             <input type="text" ngModel name="address" class="form-control" id="address" placeholder="address" required>
          </div>
          <div class="form-group">
             <label for="height">height</label>
             <input type="text" ngModel name="height" class="form-control" id="height" placeholder="height" required>
          </div>
          <div class="form-group">
            <label for="tower_type">tower_type</label>
            <input type="text" ngModel name="tower_type" class="form-control" id="tower_type" placeholder="tower_type" required>
         </div>
         <div class="form-group">
          <label for="latitude">latitude</label>
          <input type="text" ngModel name="latitude" class="form-control" id="latitude" placeholder="latitude" required>
       </div>
       <div class="form-group">
        <label for="longitude">longitude</label>
        <input type="text" ngModel name="longitude" class="form-control" id="longitude" placeholder="longitude" required>
     </div>

          <div class="modal-footer">
             <button type="button" id="add-cellTower-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateCellTowerModal" tabindex="-1" role="dialog" aria-labelledby="cellTowerEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateCellTowerModalLabel">Edit Cell Tower {{editCellTower.tower_id}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="tower_id">tower_id</label>
                 <input type="text" ngModel="{{editCellTower.tower_id}}" name="tower_id" class="form-control" id="tower_id"  placeholder="tower_id">
              </div>
              <input type="hidden" ngModel="{{editCellTower.id}}" name="id" class="form-control" id="id" placeholder="id">
              <div class="form-group">
                 <label for="technology">technology</label>
                 <input type="text" ngModel="{{editCellTower.technology}}" name="technology" class="form-control" id="technology" placeholder="technology">
              </div>
              <div class="form-group">
                 <label for="operator">operator</label>
                 <input type="text" ngModel="{{editCellTower.operator}}" name="operator" class="form-control" id="operator" placeholder="operator">
              </div>
              <div class="form-group">
                 <label for="address">address</label>
                 <input type="text" ngModel="{{editCellTower.address}}" name="address" class="form-control" id="address" name="address" placeholder="address">
              </div>
              <div class="form-group">
                <label for="height">height</label>
                <input type="text" ngModel="{{editCellTower.height}}" name="height" class="form-control" id="height" name="height" placeholder="height">
             </div>
             <div class="form-group">
              <label for="tower_type">tower_type</label>
              <input type="text" ngModel="{{editCellTower.tower_type}}" name="tower_type" class="form-control" id="tower_type" name="tower_type" placeholder="tower_type">
              </div>
              <div class="form-group">
                <label for="latitude">latitude</label>
                <input type="text" ngModel="{{editCellTower.latitude}}" name="latitude" class="form-control" id="latitude" name="latitude" placeholder="latitude">
              </div>
              <div class="form-group">
                <label for="longitude">longitude</label>
                <input type="text" ngModel="{{editCellTower.longitude}}" name="longitude" class="form-control" id="longitude" name="longitude" placeholder="longitude">
              </div>
             
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateCellTower(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>


   
<!-- Delete Modal -->
<div class="modal fade" id="deleteCellTowereModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Cell Tower</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete Cell Tower {{deleteCellTower.tower_id}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteCellTower(deleteCellTower.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
  

<!-- Notification for no cell Towers -->
<div *ngIf="cellTowers?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO CELL TOWERS!</h4>
  <p>No Cell Towers were found.</p>
</div>
</div>
